.header {
    align-content: center;
    display: block;
    display: flex;
    padding-bottom: 2%;
}

.filtro {
    float: left;
    width: 70%;
}

.crear {
    width: 10%;
    padding-left: 2%;
}

.crear-btn {
    width: 100%;
    background-color: grey;
    border-radius: 3px;
    color: white;
    border-width: 0px;
    padding: 5%;
    transition: 0.2s;
}

.titulo {
    float: left;
    width: 90%;
}

.crear-btn:hover {
    background-color: rgb(160, 160, 160);
}

.logout-btn {
    width: 100%;
    background-color: rgb(136, 60, 60);
    border-radius: 3px;
    color: white;
    border-width: 0px;
    padding: 5%;
    transition: 0.2s;
}

.logout-btn:hover {
    background-color: rgb(194, 87, 87);
}

.cambiar-btn {
    width: 100%;
    background-color: rgb(55, 150, 68);
    border-radius: 3px;
    color: white;
    border-width: 0px;
    padding: 5%;
    transition: 0.2s;
}

.cambiar-btn:hover {
    background-color: rgb(68, 192, 85);
}

.logout-btn {
    width: 100%;
    background-color: rgb(136, 60, 60);
    border-radius: 3px;
    color: white;
    border-width: 0px;
    padding: 5%;
    transition: 0.2s;
}

.logout-btn:hover {
    background-color: rgb(194, 87, 87);
}

.login-div {
    width: 10%;
}

.login-btn {
    width: 100%;
    background-color: grey;
    border-radius: 3px;
    color: white;
    border-width: 0px;
    padding: 5%;
    transition: 0.2s;
}

.login-btn:hover {
    background-color: rgb(160, 160, 160);
}